<!DOCTYPE html>
{% load static %}
{% load leaflet_tags %}
<html lang="en">
    <head>
    {% leaflet_js %}
    {% leaflet_css %}

    <link 
        rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>

 BBQUDA

</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<!--     Fonts and icons     -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/leaflet-webgl-heatmap@0.2.7/dist/leaflet-webgl-heatmap.min.js" integrity="sha256-wz6Wm2bEl0mr5QI3cHRDlNlcch5wgcUfsaJzcVGUM5s=" crossorigin="anonymous"></script>
<script src="../static/webgl-heatmap.js"></script>
<!-- CSS Files -->


<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
<link href="{% static "css/now-ui-dashboard.min.css" %}" rel="stylesheet" />
<link href="{% static "css/demo.css" %}" rel="stylesheet" />

        <div class="wrapper ">
          
            <div class="sidebar" data-color="orange">
    
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        
        <ul class="nav">
          
              <li >
                  <a href="{% url 'dashboard'%}">
                      
                        <i class="now-ui-icons design_app"></i>
                      
                      <p>Dashboard</p>
                  </a>
              </li>
              
              <li >
                  <a href="{% url 'upload_log'%}">
                      
                        <i class="now-ui-icons ui-1_bell-53"></i>
                      
                      <p>Upload Log</p>
                  </a>
              </li>
              
              <li  >
                  <a href="{% url 'upload_csv'%}">
                      
                        <i class="now-ui-icons users_single-02"></i>
                      
                      <p>Upload CSV</p>
                  </a>
              </li>
              
              <li >
                  <a href="{% url 'my_missions'%}">
                      
                        <i class="now-ui-icons design_bullet-list-67"></i>
                      
                      <p>Uploaded Missions</p>
                  </a>
              </li>
              <li  class="active ">
                  <a href="{% url 'kriging_heatmap'%}">
                      
                        <i class="now-ui-icons design_bullet-list-67"></i>
                      
                      <p>Heatmap</p>
                  </a>
              </li>
              <li >
                  <a href="{% url 'trail_generator'%}">
                      
                        <i class="now-ui-icons design_bullet-list-67"></i>
                      
                      <p>Trail Generator</p>
                  </a>
              </li>
              <li  >
                  <a href="{% url 'custom_trails'%}">
                      
                        <i class="now-ui-icons design_bullet-list-67"></i>
                      
                      <p>Custom Trails</p>
                  </a>
              </li>
              <li  >
                  <a href="{% url 'logout'%}">
                      
                        <i class="now-ui-icons design_bullet-list-67"></i>
                      
                      <p>Logout</p>
                  </a>
              </li>
             
        </ul>
    </div>
</div>

<body>
            <div class="main-panel" id="main-panel">
              <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
	<div class="container-fluid">
    <div class="navbar-wrapper">
      
			
      
			<a class="navbar-brand" href="#pablo"> BBQUDA</a>
		</div>

		

	    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      
<ul class="navbar-nav">
 

  
</ul>

        
	    </div>
	</div>
</nav>
<!-- End Navbar -->

                  <div class="panel-header panel-header-sm">
  
  
</div>


                  <div class="content">
                      <div class="row">
  <div class="col-md-12">
    

<div class="card">
    <div class="card-header">
    
        <h4 class="card-title"> Heatmap</h4>
       
        
    </div>
   
    <body>
     
    <div id="map"></div>

    <div class="card-body" >
        <div class="table-responsive">
            
                <script>

                        function f (map, options) {

                            const file = new URLSearchParams(location.search).has("file")
                            console.log(map)
                            map.setView(new L.LatLng({{max_lat}}, {{max_long}}), {{zoom}});


                            if(file){

                            console.log(file, "HAS FILE")
                            map.setView(new L.LatLng({{max_lat}}, {{max_long}}), {{zoom}});
                            var heatmap = new L.webGLHeatmap({
                            size: 8,
                            units: 'm',
                            alphaRange: 0.4       
                            });
                            
                            var rect_bounds = [[{{max_lat}}, {{max_long}}], [{{min_lat}}, {{min_long}}]]
                            var mission_rectangle = L.rectangle(rect_bounds, {color: 'blue', weight: 1}).addTo(map)

                            var drawnItems = new L.FeatureGroup();
                            map.addLayer(drawnItems);

                            var drawControl = new L.Control.Draw({
                                draw: {
                                    polygon:false,
                                    polyline:false,
                                    rect: {
                                    shapeOptions: {
                                    color: 'green'
                                    },
                                    },
                                    circle: false,
                                    marker: false
                                },
                                edit: {
                                    featureGroup: drawnItems
                                }
                                });
                            
                            map.addControl(drawControl);

                            map.on('draw:created', function (e) {
                                var type = e.layerType,
                                    layer = e.layer;
                                const latLong = layer.getLatLngs()
                                drawnItems.addLayer(layer);

                                const url = new URL(window.location.href);
                                const parameter = url.searchParams.get("parameter");
                                const file = url.searchParams.get("file");

                                alert(parameter)
                                

                                 window.location = `?parameter=${parameter}&file=${file}&min_lat=${latLong[0][0]['lat']}&max_long=${latLong[0][2]['lng']}&max_lat=${latLong[0][2]['lat']}&min_long=${latLong[0][0]['lng']}`
                            });
                            
                            heatmap.setData({{heatmap_vals}});
                            map.addLayer( heatmap );

                            }
                             }


                         async function map_add_heatmap(e)
                         {

                            e.preventDefault();
                            const file = document.getElementById("id_file").value;
                            const parameter =  document.getElementById("id_parameter").value;

                            window.location = `/kriging_heatmap?file=${file}&parameter=${parameter}`

                         }             
                </script>



                {% leaflet_map "yourmap" callback="window.f" %}
        <form  onsubmit='map_add_heatmap(event)'> 
            {% csrf_token %}    
            {{ form }}
            <input type="submit" value="Submit" class="btn btn-md btn-secondary">
        </form>


<div id="info"></div>

        </div>
    </div>
</div>

  </div>
  <div class="col-md-12">
    

  </div>
</div>

                  </div>

                 
             </div>
          
        </div>
        
         

    </body>

</html>





