{% extends 'base.html' %}
{% block title %}Contact Us - BBQUDA{% endblock title %}
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex justify-content-between align-items-center">
    {% include 'base/logo.html' %}

  <nav id="navbar" class="navbar">
      <ul>
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li class="dropdown"><a class="active " href="#"><span>Missions</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
        <li><a  href="{% url 'upload_log'%}">Upload a file</a></li>
        <li><a href="#">Uploaded missions</a></li>
        <li><a href="#">Trail generator</a></li>
        <li><a href="#">Visualizations</a></li>
        </ul>
    </li>
      <li><a href="team.html">API</a></li>
      <li><a href="{% url 'contact' %}">Contact Us</a></li>
      <li><a href="{% url 'login' %}"><button class="login-button">Login</button></a></li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

  </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact Us</h2>
          <ol>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li>Contact Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->


<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Upload Log File</h4>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">

<tbody>
<form method="post"  enctype='multipart/form-data'>
                            {% csrf_token %}

                            {{ form.non_field_errors }}

                            {{ form.source.errors }}
                            {{ form.source }}
                            <ul>
                                <li class="field">
                                    {{ form.name.errors }}{{form.name}}

                                </li>
                                <li class="field">
                                    {{ form.file.errors }}{{form.file}}
                                    </li>


                                </ul>

                     <button type="submit" class="btn btn-default btn-lg btn-block">Upload File</button>

                     </form>

                </tbody>
            </table>
        </div>
    </div>
</div>

</main><!-- End #main -->

{% endblock %}