<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BBQUDA</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
</head>

<body>

<nav>
    <a href="https://www.fiu.edu/">Florida International University</a>
</nav>

<h1 class="title">Hey!</h1>

<p>This is something</p>

<div>
    <img src= "{% static "mapperTurtle.jpg" %}"/>
</div>

</body>
</html>
