<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>


    <meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>

 BBQUDA

</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<!--     Fonts and icons     -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- CSS Files -->

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
<link href="{% static "css/now-ui-dashboard.min.css" %}" rel="stylesheet" />
<link href="{% static "css/demo.css" %}" rel="stylesheet" />
<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/obaju/2-1-1/vendor/bootstrap/css/bootstrap.min.css">
  
 
  <div><style>
  
.errorlist
    {
        color: red;
    }

</style>

    
  
        <div class="wrapper ">
          
            <div class="sidebar" data-color="orange">
    
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        
    </div>
</div>


            <div class="main-panel" id="main-panel">
              <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
	<div class="container-fluid">
    <div class="navbar-wrapper">
      
			
      
			<a class="navbar-brand" >BBQUDA - Website for visualizing mission logs obtained from the EcoMapper and Heron drones. </a>
		</div>

		

	    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      
<ul class="navbar-nav">
 

  
</ul>

        
	    </div>
	</div>
</nav>
<!-- End Navbar -->

                  <div class="panel-header panel-header-sm">
  
  
</div>


                  <div class="content" style="background-image: url('{% static "heron.jpg" %}'); background-repeat: no-repeat; background-size: 100% 100%;">
                      <div class="row">
  <div class="col-md-12">
    

<div class="card" style = "width:50%">
    <div class="card-header">
       
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                
<tbody>
<div class="form-fields-section">

              <h1>Create an Account</h1>
              

<div class="registration">

                <div class="bg-form">
                   
                    <form method="post" novalidate>
                            {% csrf_token %}

                            {{ form.non_field_errors }}

                            {{ form.source.errors }}
                            {{ form.source }}
                            <ul>
                                <li class="field">
                                    {{ form.first_name.errors }}{{form.first_name}}
                                        
                                </li>
                                <li class="field">
                                    {{ form.last_name.errors }}{{form.last_name}}
                                    </li>
                                <li class="field">
                                    {{ form.email.errors }}{{form.email}}
                                    </li>
                                <li class="field">
                                    {{ form.username.errors }}{{form.username}}
                                    </li>
                                 <li class="field">
                                    {{ form.password1.errors }}{{form.password1}}
                                    </li>
                                <li class="field">
                                    {{ form.password2.errors }}{{form.password2}}
                                    </li>
                                </ul>
                      
                     <button type="submit" class="btn btn-default btn-lg btn-block">Register</button>
                     
                     </form>

                            <div class="separator">
                         
                                <hr>
                                
                            </div>
                            <a href="{%url 'login'%}" class="cw-btn cw-btn--default cw-btn--full js-sign-in">Already Have an Account? Sign In</a>

                        </fieldset>

                       
                        
                </div>
              </div>
            </div>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

  </div>
  <div class="col-md-12">
    

  </div>
</div>

                  </div>

                 
             </div>
          
        </div>
        
          
    </body>

</html>





