<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'homepage' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'my_missions' %}">Missions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'api_page' %}">API</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Uploading</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Research</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data visualization</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              FIU Biscayne Bay Campus<br>
              3000 NE 151st St,<br>
              North Miami, FL 33181<br><br>
              <strong>Email:</strong>gmuradre@fiu.edu<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About BBQUDA</h3>
            <p>We aim to develop algorithms to effectively
              and efficiently collect water data in Biscayne Bay, FL using autonomous underwater
              and surface robots.</p>
            <div class="social-links mt-3">
              <a href="https://www.youtube.com/watch?v=8mY9jAsUl48" class="linkedin"><i class="bx bxl-youtube"></i></a>
              <a href="https://www.linkedin.com/in/gregorymurad/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BBQUDA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>